<!DOCTYPE html>

<head>

</head>
<body>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <form id="query_form">
        <div>
        <label for="date1">from</label>
        <input type="date" name="date1" id="date1" 
            min="1917-01-01" max="1953-12-31" value="1917-01-01"> 
        <label for="date2">to</label>
        <input type="date" name="date2" id="date2" 
            min="1917-01-01" max="1953-12-31" value="1953-12-31">
        </div> 
        <div>
        <label for="words">for the words</label>
        <input type="text" name="words" id="words">
        <input type="submit" value="Search">
        </div>
    </form>
    <script type="text/javascript">

        let svg_w = 800;
        let svg_h = 600;
        let bottom_marg = 80;
        let left_marg = 100;
        let right_marg = 80;
        let top_marg = 20;

        let svg = d3.select("body").append("svg")
            .attr("width", svg_w)
            .attr("height", svg_h)
            .attr("style", "background-color:#EEEEEE");

        query_form.onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch("/query", {
                method: "POST",
                body: new FormData(query_form)
            });

            let result = await response.json();

            dataset = result.dataset;

            for (const word of dataset){
                let min_date = d3.min(word.series, d => d.month);
                let max_date = d3.max(word.series, d => d.month);
                let min_value = d3.min(word.series, d => d.value);
                let max_value = d3.max(word.series, d => d.value);

                // horizontal scaling
                let x_scale = d3.scaleTime()
                    .domain([new Date(min_date), new Date(max_date)])
                    .range([left_marg, svg_w - right_marg])
                    .nice(); 

                // vertical scaling
                let y_scale = d3.scaleLinear()
                    .domain([min_value, max_value])
                    .range([svg_h - bottom_marg, top_marg]);

                // points
                // svg.selectAll("circle")
                //     .data(word.series)
                //     .enter()
                //     .append("circle")
                //     .attr("cx", d => {return x_scale(new Date(d.month));})
                //     .attr("cy", d => {return y_scale(d.value);})
                //     .attr("r", 3)
                //     .attr("fill","red");

                // line
                svg.append("path")
                    .datum(word.series)
                    .attr("fill", "none")
                    .attr("stroke", "blue")
                    .attr("stroke-width", 2)
                    .attr("d", d3.line()
                        .x(d => {return x_scale(new Date(d.month));})
                        .y(d => {return y_scale(new Date(d.value));})
                    )

                // axes
                let x_axis = d3.axisBottom().scale(x_scale).ticks(d3.timeYear);

                let y_axis = d3.axisLeft().scale(y_scale);

                svg.append("g")
                    .attr("transform","translate(0, " + (svg_h - bottom_marg) + ")")
                    .call(x_axis)
                    .style("stroke-width","2px")
                    .style("font-size","12px");

                svg.append("g")
                    .attr("transform","translate(" + left_marg + ", 0)")
                    .call(y_axis)
                    .style("stroke-width","2px")
                    .style("font-size","12px");;
            }
        }
        
    </script>
</body>