<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <h1>Word Frequency</h1>
    <form id="query_form">
        <div>
            <label>display: <label>
            <label for="frequency">frequencies</label>
            <input type="radio" name="data_type" id="frequency" value="frequency" checked>
            <label for="raw">raw counts</label>
            <input type="radio" name="data_type" id="raw" value="raw">
        </div>
        <div>
            <label for="date1">from</label>
            <input type="month" name="date1" id="date1" 
                min="1917-01" max="1953-12" value="1917-01"> 
            <label for="date2">to</label>
            <input type="month" name="date2" id="date2" 
                min="1917-01" max="1953-12" value="1953-12">
        </div> 
        <div>
            <label for="words">for the words</label>
            <input type="text" name="words" id="words">
            <input type="submit" value="Search">
        </div>
    </form>
    <script type="text/javascript">

        const month_names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];

        query_form.onsubmit = async (e) => {
            e.preventDefault();

            // clear previous viz
            d3.select("svg").remove();
            d3.select("ul").remove();
            d3.select("h2").remove();

            // set up new viz
            let svg_w = document.body.clientWidth-10;
            let svg_h = 500;
            let bottom_marg = 35;
            let left_marg = 100;
            let right_marg = 80;
            let top_marg = 20;

            let svg = d3.select("body").append("svg")
                .attr("width", svg_w)
                .attr("height", svg_h)
                .attr("style", "background-color:#FFFFFF");

            let metadata_heading = d3.select("body").append("h2");
            let ul = d3.select("body").append("ul");

            // fetch data
            let response = await fetch("/query", {
                method: "POST",
                body: new FormData(query_form)
            });

            let result = await response.json();

            let dataset = result.dataset;
            let data_type = result.data_type;

            // determine min and max values
            let min_value = Number.MAX_SAFE_INTEGER;
            let max_value = 0;
            for (const word of dataset){
                if(word.series.length > 0){
                    min_value = Math.min(min_value, 
                        d3.min(word.series, d => d.value));
                    max_value = Math.max(max_value, 
                        d3.max(word.series, d => d.value));
                }
            }
            let min_date = result.data_date_range[0];
            let max_date = result.data_date_range[1];

            // horizontal scaling
            let x_scale = d3.scaleTime()
                .domain([new Date(min_date), new Date(max_date)])
                .range([left_marg, svg_w - right_marg])
                .nice(); 

            // vertical scaling
            let y_scale = d3.scaleLinear()
                .domain([min_value, max_value])
                .range([svg_h - bottom_marg, top_marg]);

            // color scaling
            let color_scale = d3.scaleLinear()
                .domain([0,dataset.length-1])
                .range(["red", "blue"]);

            // function for fetching metadata
            async function retrieve_metadata(d){
                let pointed_date = new Date(d.month)

                let request_form = new FormData()
                request_form.append("word", d.word)
                request_form.append("month", d.month)

                let response = await fetch("/frequency-metadata", {
                method: "POST",
                body: request_form});
                
                let result = await response.json();

                let metadata = result.metadata;

                d3.selectAll("li").remove();
                metadata_heading.text("Sources for '" + d.word + 
                    "' from " + month_names[pointed_date.getUTCMonth()] + 
                    " " + pointed_date.getUTCFullYear() + 
                    " (" + metadata.length + " pages)")

                for (const elem of metadata){
                    url = ("https://chroniclingamerica.loc.gov/lccn/" + 
                        elem.lccn + "/" + elem.date + "/" + elem.ed + "/" + 
                        elem.seq)
                    txt = (elem.date + ": " + 
                        elem.lccn + 
                        ", edition " + elem.ed +
                        ", sequence " + elem.seq); 
                    ul.append("li")
                        .html("<a href=" + url + " target='_blank'>" + txt + "</a>")
                }
            }

            //tooltip
            let tooltip = d3.select("body")
                .append("div")
                .style("opacity", 0)
                .style("background-color", "white")
                .style("border", "solid")
                .style("border-width", "2px")
                .style("border-radius", "5px")
                .style("padding", "5px")
                .style("position", "fixed")

            function mouseover() {
                tooltip.style("opacity", 1)
            }

            function mousemove(event, d) {
                const [mouse_x, mouse_y] = d3.pointer(event, this)
                let pointed_date = new Date(d.month);
                tooltip
                    .html(d.value.toFixed(5) + 
                        "<br>" + 
                        month_names[pointed_date.getUTCMonth()] + " " +
                        pointed_date.getUTCFullYear())
                    .style("left", ((mouse_x + 
                        svg.node().getBoundingClientRect()['x']) + "px"))
                    .style("top", ((mouse_y + 
                        svg.node().getBoundingClientRect()['y']) + "px"))
            } 

            function mouseleave() {
                tooltip.style("opacity", 0)
            }

            function mousedown(event, d) {
                retrieve_metadata(d);
            }

            // show and hide points
            function svg_mouseover() {
                d3.selectAll("circle").style("opacity", 1)
            }

            function svg_mouseleave() {
                d3.selectAll("circle").style("opacity", 0)
            }
            svg
                .style("cursor","crosshair")
                .on("mouseover", svg_mouseover)
                .on("mouseleave", svg_mouseleave);

            // add the lines and points
            
            for (let i = 0; i < dataset.length; i++){

                // add the word property to the series array
                dataset[i].series.forEach((e)=>{e.word=dataset[i].word});

                if(dataset[i].series.length > 0){
                    svg.append("path")
                        .datum(dataset[i].series)
                        .attr("fill", "none")
                        .attr("stroke", color_scale(i))
                        .attr("stroke-width", 2)
                        .attr("d", d3.line()
                            .x(d => {return x_scale(new Date(d.month));})
                            .y(d => {return y_scale(d.value);})
                        )

                    // line label
                    const last_elem = dataset[i].series[(dataset[i].series.length - 1)];
                    svg.append("text")
                        .attr("x", x_scale(new Date(last_elem.month)) + 10)
                        .attr("y", y_scale(last_elem.value))
                        .attr("fill",color_scale(i))
                        .text(dataset[i].word)

                    // hoverable points
                    svg.selectAll("." + dataset[i].word)
                        .data(dataset[i].series)
                        .enter()
                        .append("circle")
                        .attr("cx", d => {return x_scale(new Date(d.month));})
                        .attr("cy", d => {return y_scale(d.value);})
                        .attr("r", 4)
                        .attr("fill",color_scale(i))
                        .on("mouseover", mouseover)
                        .on("mousemove", mousemove)
                        .on("mouseleave", mouseleave)
                        .on("mousedown", mousedown);
                }
            }
            // axes
            let x_axis = d3.axisBottom().scale(x_scale).ticks(d3.timeYear);

            let y_axis = d3.axisLeft().scale(y_scale);

            svg.append("g")
                .attr("transform","translate(0, " + (svg_h - bottom_marg) + ")")
                .style("stroke-width","2px")
                .style("font-size","12px")
                .call(x_axis)
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("transform", "rotate(-45)");

            svg.append("g")
                .attr("transform","translate(" + left_marg + ", 0)")
                .call(y_axis)
                .style("stroke-width","2px")
                .style("font-size","12px");

            let vert_axis_label_txt = () => {
                if(data_type == "frequency"){
                    return "Relative Frequency (%)"
                }
                else if(data_type == "count"){
                    return "Count"
                }
            } 

            svg.append("text")
                .text(vert_axis_label_txt)
                .attr("text-anchor", "middle")
                .attr("transform", "translate(" + (left_marg/3) + "," 
                + (svg_h/2) + ")rotate(-90)");
        }
        
    </script>
</body>